language: node_js
node_js:
- '10'
install:
- npm install
script:
- npm test
- npm run build
deploy:
  provider: npm
  email: 1064431086@qq.com
  api_key:
    secure: kfBrScISNRMztI7gdV8fr+DcNdodeIPfkis1pHVfTd4+7ZPU4taj3D0RwRhonu4yfybEm0KSNYkoe+Bb/kDyyy066o44CPnDo06UifY6jfRS77Fviajy3d8KqRu3H46OiisrtsuZkX+UZXyhCvQS9JvL6fj20HymXCQBwuLSe9hgClCUquyd9DaU47TsIrG2jpG/NCoz2BCGIGhLmhLPGLb60iQjUdHaTc6+T1Ku6tWo5w4fBMVUGppfM8Cr9ml6BFpvQJt4vluvJlnavdb/yE/5u7h8qSQuVnE8ZmBEKHAbgl48aIa78bt6lGyFHHMMRdmuaqoqq8UcuznUOUJZsiDieOq9kpaKQzvkpRlXKvg095l4rJxD3wSn8EthnnF5PzxdWMgiBkUqG87jW5wlo45U5y4mFpWAfTyv2Z17PPgD6iueSbVCiy7/pP/6/cNGxXH9JIx+P8V+/ITJbePsYsLZgA7vNRCTGpWKtg191DUDbzav53uUy3kzxG8qZ+pZT+yJTnhG0zUQogTM95B1Co9UwHdoTr30NtI+IH1c4scyWXi4OYiCZTP2wBoTWDx06uAAkBYPOldHeT96VjnG0gqwd5hurZ41qZwyOmUxv+llk+ENT16yqlJeFTTu46JaukKLNNPcOSdl3iYHgYmDkCp49x0UvNhcAhpZgmchoZc=
  on:
    tags: true
    branch: master
    skip_cleanup: true

 

