@import './responsetool.scss';
//colors
$navBackground:#333;//header背景色
$navColor:#fff;//header文字颜色
$selectedColor: #27757b;//选中子频道时子频道的背景色，及mobile导航simple的文字颜色
html,body {
  margin: 0;
  padding: 0;
}
.nav {
  font-family: Microsoft Yahei,SimSun,sans-serif;
  width:100%;
  background: $navBackground;
  color: $navColor;
  a {
    color: $navColor;
  }

  @include oGridRespondTo($until:L) {
    display: none;
  }
}

.nav--mobileshow {
  @include oGridRespondTo($until:L) {
    display: block;
  }
}

.list {
    margin:0px;
		padding: 0px 30px;
		background: #333;
		font-size: 0;

		@include oGridRespondTo('XL') {
			padding: 0px 74.5px;
			
		}
		@include oGridRespondTo($until:L) {//For mobile
			padding: 0;
			position: fixed;
			top:44px;
		}
}

.list-top {
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  @include oGridRespondTo($until:L) {//For mobile
    height: auto;
    left:0px;
    width:41.6%;
  }
}

.list-sub {
  height: 30px;
  background: #505050;
  @include oGridRespondTo($until:L) {//For mobile
    height: auto;
    right:0px;
    width: 58.4%;
    background: #fff1e0;
    color:black;
    font-size: 16px;
    font-weight: 400;
  }
}

.item {
    display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		a {
			display: inline-block;
			
			text-align: center;
			cursor: pointer;
			text-decoration:none;
		}
		@include oGridRespondTo(L) {
			margin:0 2.5px;
		}
		@include oGridRespondTo($until:L) {//For mobile
			display:block;
			padding:0 0 0 15px;
			a {
				display: inline-block;
				text-align: right;
				cursor: pointer;
			}
		}
}

.item-top {
  font-size:17px;
  position: relative;
  @include oGridRespondTo(L) {
    &:hover, &:active {
      background:#505050;
    }
  }
  &.item-top--dynamic, a {
    height: 44px;
    padding: 0 15px;
    line-height: 44px;
  }
  @include oGridRespondTo($until:L) {//For mobile
    display:block;
    &.item-top--dynamic, a {
      width:100%;
      height:100%;
      padding: 0;
      text-align: right;
      cursor: pointer;
      font-size:15px;
      font-weight:700;
      &::after {
        content: "";
        display: inline-block;
        width:10px;
        height:10px;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        /*background-image:url(http://static.ftchinese.com/ftc-icons/svg/arrow-right.svg);*/
        background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/arrow-right-white.svg);
        padding-left:14px;
      }
    }
  }
}

.item-top--selected {
  background:#505050;

  @include oGridRespondTo($until:L) {
    background: #fff1e0;
    &.item-top--dynamic, a {
      color: #333;
      &::after {
        background-image:url(http://static.ftchinese.com/ftc-icons/svg/arrow-right.svg);
      }
    }
  }
}
.item-sub {
  font-size:14px;
		@include oGridRespondTo(L) {
			&:hover,&:active {
				background: #27757b;
			}
    }
		&.item-sub--dynamic, a {
			height: 30px;
			padding: 0 6px;
			line-height: 30px;
		}
		@include oGridRespondTo($until:L) {
			&.item-sub--dynamic, a {
				color: #333; /*NOTE:当a的text-decoration为None时，默认是白色 ？？*/
				font-size:16px;
				font-weight: 400;
				&:hover,&:active {
					background: #fff1e0;
					text-decoration: underline;
				}
				
			}
		}
}
.item-first-sub {
  display: none;
  @include oGridRespondTo($until:L) {
    display: block;
  }
}
.item-sub--selected {
  @include oGridRespondTo(L) {
    background: #27757b;
  }
}
.pushdown-list {
  display: none;
  position: absolute;
  top:44px;
  left:0px;
  min-width: 100%;
  margin:0px;
  padding:0px;
  background:#505050;
  z-index: 5;
}

.pushdown-item {
  list-style-position: outside;
		list-style-type: none;
		font-size: 14px;
		margin: 0;
		padding: 0;
		border-top: 1px solid #666;
		&:hover,&:active {
			background: #27757b;
		}
		 a {
			padding: 0 25px 0 15px;
			height: 30px;
			line-height: 30px;
			display: inline-block;
			text-decoration: none;
			white-space: nowrap;/*NOTE：否则a会换行*/
			cursor: pointer;
    }
    &.pushdown-item--dynamic {
      padding: 0 25px 0 15px;
			height: 30px;
			line-height: 30px;
			cursor: pointer;
    }
}

// .pushdown-first-item {
//   display: none;
//   @include oGridRespondTo($until:L) {
//     display: block;
//   }
// }

.item-top:not(.item-top--selected):hover>.pushdown-list{
  display: block;
  @include oGridRespondTo($until:L) {
    display: none;
  }
}

.list--right {
  float:right;
}

.simple {
  font-family: Microsoft Yahei,SimSun,sans-serif;
  width: 100%;
  min-width: 240px;
  padding: 5px 10px 10px;
  height: 22px;
  @include oGridRespondTo(L) {
    display: none;
  }
}
.simple-list {
  margin:0px;
  padding: 0px;
  // font-size: 0;
  list-style-position: outside;
  list-style-type: none;
  height: 100%;
}
.simple-item {
  display: inline-block;
  font-size: 16.8px;
  height: 100%;
  padding: 0 5px 0 0;

  a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    color: $selectedColor; //NOTE: a的color要写在a本身上，否则color: -webkit-link;这种属性值会覆盖继承来的color
  }
}
.simple-item:nth-child(2) {
  &::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 100%;
    background-image: url(http://s.ftimg.net/img/svg/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    vertical-align: middle;
  }
}